@using Firebase.Database
@using Newtonsoft.Json.Linq
@using TimeZoneConverter
@inject FirebaseClient Client
@inject GlobalState State
@{
  ViewData["Title"] = "Events";
}

<div class="container">
  <div class="text-center">
    <h1 class="display-4">Events</h1>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Event key</th>
      <th>Event code</th>
      <th>Name</th>
      <th>Field</th>
      <th>Status</th>
      <th>Starts</th>
      <th>Ends</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @{
      // Note: Right now we assume EST for all event times. It's good enough
      var estNow = TimeZoneInfo.ConvertTime(DateTime.UtcNow, TZConvert.GetTimeZoneInfo("America/Detroit"));
      var events = await Client.Child($"/seasons/{State.CurrentSeason}/events")
        .OnceAsync<DbEvent>();
      var orderedEvents = events.OrderBy(x => x.Object.start)
        .ThenBy(x => x.Object.field);
    }
    Eastern Time: @estNow
    @foreach (var evt in orderedEvents)
    {
      var start = evt.Object.start;
      var end = evt.Object.end;
      <tr class="@(start < estNow && end > estNow ? "table-success" : "")">
        <td>@evt.Key</td>
        <td>@evt.Object.eventCode</td>
        <td>@evt.Object.name</td>
        <td>@(evt.Object.field.ToString() ?? "")</td>
        <td>@evt.Object.state</td>
        <td>@(start?.ToShortDateString())</td>
        <td>@(end?.ToShortDateString())</td>
        <td><a asp-action="Manage" asp-route-id="@evt.Key">Manage</a></td>
      </tr>
    }
    </tbody>
  </table>
  @if (!events.Any())
  {
    <p>No events in this season yet...</p>
  }
</div>