@using Firebase.Database
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Text
@using System.Reflection
@using Humanizer
@inject FirebaseClient Client
@inject GlobalState State
@{
  ViewData["Title"] = "Manage";
}
@{
  var eventData = await Client.Child(
    $"/seasons/{State.CurrentSeason}/events/{ViewData["id"]}").OnceSingleAsync<DbEvent>();
  await using var stream = Assembly.GetEntryAssembly()?.GetManifestResourceStream("fim_queueing_admin.Assets.EventWelcome.html");
  if (stream == null) throw new NullReferenceException();
  using var welcomeText = new StreamReader(stream);
  var welcome = new StringBuilder(await welcomeText.ReadToEndAsync());

  welcome.Replace("{KEY}", ViewData["id"]?.ToString());
  var dateStr = "(Unknown Date)";
  if (DateTime.TryParse(eventData.start?.ToString(), out var date))
  {
    dateStr = date.ToString("MMMM ") + date.Day.Ordinalize();
  }
  welcome.Replace("{DATE}", dateStr);
  welcome.Replace("{EVENTNAME}", eventData.name);
}
<div class="container">
  <h1 class="text-center">Manage</h1>
  
  <div class="accordion py-2">
    <div class="accordion-item">
      <h2 class="accordion-header" id="welcomeHeader">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#welcomeCollapse" 
                aria-expanded="false" aria-controls="welcomeCollapse">
          Welcome Message
        </button>
      </h2>
      <div class="accordion-collapse collapse" id="welcomeCollapse">
        <div class="accordion-body">
          <div>Field number: @(eventData.field != null ? eventData.field : "Unknown")</div>
          <div id="welcome">@Html.Raw(welcome)</div>
        </div>
      </div>
    </div>
  </div>

  <h2>Actions</h2>

  <div class="card">
    <h5 class="card-header">Manually Update State</h5>
    <div class="card-body">
      <form method="post" asp-action="UpdateState" asp-route-id="@(ViewData["id"])">
        <div class="form-group mb-2">
          <label for="state">New State</label>
          @{
            var currentState = eventData.state?.ToString();
            var eventStateList = Enum.GetNames<EventState>().Select(n => 
              new SelectListItem(n, n, currentState == n));
          }
          <select id="state" name="state" class="form-control" asp-items="eventStateList"></select>
        </div>
        <button class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
  
  <div class="card mt-3">
      <h5 class="card-header">Embed Link</h5>
      <div class="card-body">
        <form method="post" asp-action="UpdateEmbedLink" asp-route-id="@(ViewData["id"])">
          <div class="form-group mb-2">
            <label for="link">Stream Embed Link</label>
            @{
              var currentLink = eventData.streamEmbedLink;
            }
            <input id="link" name="link" class="form-control" value="@currentLink" type="url" />
            <div class="form-text">Ex: https://player.twitch.tv/?channel=firstinspires31&parent=fim-queueing.web.app&autoplay=true&muted=false</div>
          </div>
          <button class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  @* <div class="text-center"> *@
  @*   <form method="post" asp-action="SendRefresh" asp-route-id="@((string)ViewBag.id)" class="d-inline-block"> *@
  @*     <button class="btn btn-primary">Force Refresh</button> *@
  @*   </form> *@
  @*   <form method="post" asp-action="Identify" asp-route-id="@((string)ViewBag.id)" class="d-inline-block"> *@
  @*     <button class="btn btn-primary">Identify</button> *@
  @*   </form> *@
  @* </div> *@
  
</div>

@section Scripts
{
  <script>
  document.getElementById("welcomeCollapse").addEventListener("shown.bs.collapse", () => {
    console.log("Shown collapse");
    window.getSelection().selectAllChildren(document.getElementById("welcome"));
  });
  </script>
}
